<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CompanyMapper">

    <select id="query" parameterType="pojo.Company" resultType="pojo.Company">
        select * from company
    </select>
    <select id="queryById" parameterType="integer" resultType="pojo.Company">
        select * from company t1 where t1.company_id=#{companyId}
    </select>
</mapper>