<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ContractExpenseMapper">

    <insert id="add" parameterType="pojo.Contract">
        insert into contract_expense (expense_value_id,price,contract_id,remark)
        values
        <foreach collection="contractExpenseList" item="expense" separator=",">
            (
                #{expense.expenseValueId},
                #{expense.price},
                #{expense.contractId}
                ,#{expense.remark}
              )
        </foreach>
    </insert>

    <select id="queryByContractId" resultType="pojo.ContractExpense" parameterType="integer">
        select
            expense_id,
            price,
            remark,
            t2.value_id as expense_value_id,
            t2.value_name as expense_name
        from contract_expense t1
        LEFT JOIN data_dictionary t2 ON t1.expense_value_id= t2.value_id
        <where>
                t1.contract_id=#{contractId} and t2.type_code='EXPENSE'
        </where>
    </select>

    <delete id="deleteByContractId" parameterType="integer">
        delete from contract_expense where contract_id=#{contractId}
    </delete>

    <select id="queryAllExpense" resultType="pojo.DataDictionary">
        select * from data_dictionary
        <where>
            type_code = 'EXPENSE'
        </where>
    </select>

    <select id="queryListByStorageId" resultType="pojo.ContractExpense">
        select expense_id, expense_value_id, d.value_name as expense_name,price from contract_expense t1
        left JOIN contract c2 on t1.contract_id = c2.contract_id
        left JOIN storage s on c2.contract_id = s.contract_id
        left JOIN data_dictionary d on t1.expense_value_id = d.value_id
        where s.storage_id =#{storageId} and d.type_code = 'EXPENSE' and s.status=2
    </select>
</mapper>