<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EmployeeMapper">

    <resultMap id="employeeBase" type="pojo.Employee">
        <result property="employeeId" column="employee_id"/>
        <result property="realName" column="real_name"/>
        <result property="loginCode" column="login_code"/>
        <result property="workNo" column="work_no"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="remark" column="remark"/>
        <association property="employeeSex" javaType="pojo.DataDictionary">
            <result property="valueId" column="sexId"/>
            <result property="valueName" column="sexName"/>
        </association>
        <association property="employeeStatus" javaType="pojo.DataDictionary">
            <result property="valueId" column="statusId"/>
            <result property="valueName" column="statusName"/>
        </association>
        <collection property="roleList" ofType="pojo.Role">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
        </collection>
    </resultMap>

    <select id="queryByNameAndPwd" parameterType="pojo.Employee" resultType="pojo.Employee">
        select * from employee
        <where>
            <if test="loginCode!=null and loginCode!=''">
                and login_code=#{loginCode}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
                and status!=2
        </where>
    </select>

    <select id="query" parameterType="pojo.Employee" resultMap="employeeBase">
        <if test="loginCode!=null and loginCode!=''">
            <bind name="logincode" value="'%'+loginCode+'%'"/>
        </if>
        <if test="realName!=null and realName!=''">
            <bind name="realname" value="'%'+realName+'%'"/>
        </if>
        <if test="phone!=null and phone!=''">
            <bind name="phone" value="'%'+phone+'%'"/>
        </if>
        select
        work_no,
        t1.employee_id,
        login_code,
        real_name,
        password,
        t2.value_id as sexId,
        t2.value_name as sexName,
        phone,
        email,
        t3.role_id,
        t3.role_name,
        t4.value_id as statusId,
        t4.value_name as statusName
        from employee t1
        LEFT JOIN data_dictionary t4 ON t1.status= t4.value_id
        LEFT JOIN data_dictionary t2 ON t1.sex= t2.value_id
        LEFT JOIN employee_role t5 ON t1.employee_id = t5.emp_id
        LEFT JOIN role t3 ON t5.role_id = t3.role_id
        <where>
            t4.type_code='EMP_STATUS' and
            t2.type_code='SEX'
            <if test="loginCode!=null and loginCode!=''">
                and login_code like #{logincode}
            </if>
            <if test="realName!=null and realName!=''">
                and real_name like #{realname}
            </if>
            <if test="phone!=null and phone!=''">
                and phone like #{phone}
            </if>
        </where>
    </select>

    <select id="queryByName" resultType="pojo.Employee">
        select * from employee
        <where>
            login_code=#{loginCode}
        </where>
    </select>

    <select id="queryByEmail" resultType="pojo.Employee">
        select * from employee
        <where>
            email=#{email}
        </where>
    </select>

    <insert id="addEmployee" parameterType="pojo.Employee">
        insert into employee
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="loginCode!=null and loginCode!=''">
                ,login_code
            </if>
            <if test="realName!=null and realName!=''">
                ,real_name
            </if>
            <if test="phone!=null and phone!=''">
                ,phone
            </if>
            <if test="password!=null and password!=''">
                ,password
            </if>
            <if test="sex!=null">
                ,sex
            </if>
            <if test="email!=null and email!=''">
                ,email
            </if>
        </trim>
        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="loginCode!=null and loginCode!=''">
                ,#{loginCode}
            </if>
            <if test="realName!=null and realName!=''">
                ,#{realName}
            </if>
            <if test="phone!=null and phone!=''">
                ,#{phone}
            </if>
            <if test="password!=null and password!=''">
                ,#{password}
            </if>
            <if test="sex!=null">
               ,#{sex}
            </if>
            <if test="email!=null and email!=''">
                ,#{email}
            </if>
        </trim>
    </insert>

    <update id="updateEmployee" parameterType="pojo.Employee">
        update employee
        <set>
            <if test="loginCode!=null and loginCode!=''">
                login_code=#{loginCode},
            </if>
            <if test="realName!=null and realName!=''">
                real_name=#{realName},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
        </set>
        <where>
            employee_id=#{employeeId}
        </where>
    </update>

    <delete id="delEmployee">
        delete from employee where employee_id=#{employeeId}
    </delete>

    <delete id="delRoleByEmployee">
        delete  from employee_role where emp_id = #{employeeId}
    </delete>

    <update id="freEmployee">
        update employee
        <set>
            status=2
        </set>
        <where>
            employee_id=#{employeeId}
        </where>
    </update>

    <insert id="employeeRole" parameterType="pojo.Employee">
        insert into employee_role (emp_id, role_id)
        values
        <foreach collection="roleList" item="role" separator=",">
            (
            #{employeeId},
            #{role.roleId}
            )
        </foreach>
    </insert>

    <select id="queryRole" resultType="pojo.Role">
        select
          role_id,
          role_name,
          remark
        from role
    </select>

</mapper>