<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RoleMapper">

    <select id="query" parameterType="pojo.Role" resultType="pojo.Role">
        <choose>
            <when test="roleName!=null and roleName!=''">
                <bind name="rolename" value="'%'+roleName+'%'"/>
            </when>
        </choose>
        select
        role_id,
        role_name,
        remark
        from role
        <where>
            <if test="roleName!=null and roleName!=''">
                and role_name like #{rolename}
            </if>
        </where>
    </select>

    <insert id="add" parameterType="pojo.Role">
        insert into role
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="roleId!=null">
                ,role_id
            </if>
            <if test="roleName!=null and roleName!=''">
                ,role_name
            </if>
            <if test="remark!=null and remark!=''">
                ,remark
            </if>
        </trim>

        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="roleId!=null">
                ,#{roleId}
            </if>
            <if test="roleName!=null and roleName!=''">
                ,#{roleName}
            </if>
            <if test="remark!=null and remark!=''">
                ,#{remark}
            </if>
            ,1
        </trim>
    </insert>

    <update id="update" parameterType="pojo.Role">
        update role
        <set>
            <if test="roleId!=null">
                role_id=#{roleId},
            </if>
            <if test="roleName!=null and roleName!=''">
                role_name=#{roleName},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
        </set>
        <where>
            role_id=#{roleId}
        </where>
    </update>

    <delete id="delRole">
        delete from role where role_id=#{roleId}
    </delete>
</mapper>