<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ShippingMapper">

    <resultMap id="shippingBase" type="pojo.Shipping">
        <result property="shippingId" column="shipping_id"/>
        <result property="shippingName" column="shipping_name"/>
        <result property="shippingCode" column="shipping_code"/>
        <result property="shippingNumber" column="shipping_number"/>
        <result property="carNo" column="car_no"/>
        <result property="shippingTime" column="shipping_time"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="create_date"/>
        <association property="storage" javaType="pojo.Storage">
            <id property="storageId" column="storage_id"/>
            <result property="storageName" column="storage_name"/>
            <result property="storageCode" column="storage_code"/>
        </association>
        <association property="warehouse" javaType="pojo.Warehouse">
            <id property="warehouseId" column="warehouse_id"/>
            <result property="warehouseName" column="warehouse_name"/>
        </association>
        <association property="location" javaType="pojo.Location">
            <id property="locationId" column="location_id"/>
            <result property="locationName" column="location_name"/>
        </association>
        <association property="goodsType" javaType="pojo.Goods">
            <id property="goodsId" column="goods_type_id"/>
            <result property="goodsName" column="goods_type_name"/>
        </association>
        <association property="goodsName" javaType="pojo.Goods">
            <id property="goodsId" column="goods_name_id"/>
            <result property="goodsName" column="goods_name"/>
        </association>
        <association property="shippingTransType" javaType="pojo.DataDictionary">
            <result property="valueId" column="trans_type_id"/>
            <result property="valueName" column="trans_type"/>
        </association>
        <association property="shippingStatus" javaType="pojo.DataDictionary">
            <result property="valueId" column="statusId"/>
            <result property="valueName" column="statusName"/>
        </association>
        <association property="shippingByUser" javaType="pojo.Employee">
            <id property="employeeId" column="employee_id"/>
            <result property="realName" column="real_name"/>
        </association>
    </resultMap>

    <select id="query" parameterType="pojo.Shipping" resultMap="shippingBase">
        <if test="shippingName !=null and shippingName!=''">
            <bind name="shippingname" value="'%'+shippingName+'%'"/>
        </if>
        <if test="shippingCode !=null and shippingCode!=''">
            <bind name="shippingcode" value="'%'+shippingCode+'%'"/>
        </if>
        <if test="storage!=null and storage.storageCode!=null and storage.storageCode!=''">
            <bind name="storagecode" value="'%'+storage.storageCode+'%'"/>
        </if>
        <if test="storage!=null and storage.storageName!=null and storage.storageName!=''">
            <bind name="storagename" value="'%'+storage.storageName+'%'"/>
        </if>
        select
            shipping_id,
            shipping_name,
            shipping_code,
            shipping_number,
            car_no,
            shipping_time,
            t1.create_date,
            t1.remark ,
            shipping_number,
            s.storage_id,
            s.storage_name,
            s.storage_code,
            w.warehouse_id,
            w.warehouse_name,
            l.location_id,
            l.location_name,
            g.goods_id as goods_type_id,
            g.goods_name as goods_type_name,
            t2.goods_id as goods_name_id,
            t2.goods_name,
            d1.value_id as trans_type_id,
            d1.value_name as trans_type,
            d3.value_id as statusId,
            d3.value_name as statusName,
            e.employee_id,
            e.real_name
        from shipping t1
        LEFT JOIN storage s on t1.storage_id = s.storage_id
        LEFT JOIN warehouse w on t1.warehouse_id = w.warehouse_id
        LEFT JOIN location l on t1.location_id = l.location_id
        LEFT JOIN goods g on t1.goods_type_id = g.goods_id
        LEFT JOIN goods t2 on t2.goods_id=t1.goods_name_id
        LEFT JOIN employee e on e.employee_id=t1.shipping_by
        LEFT JOIN data_dictionary d1 on t1.trans_type = d1.value_id
        LEFT JOIN data_dictionary d3 on t1.status = d3.value_id
        <where>
            l.warehouse_id = w.warehouse_id
            and t2.parent_id = g.goods_id
            and t2.classify = 2
            and g.classify = 1
            and d1.type_code = 'TRANS_TYPE'
            and d3.type_code = 'RE_STATUS'
            <if test="shippingId !=null">
                and shipping_id = #{shippingId}
            </if>
            <if test="shippingName !=null and shippingName!=''">
                and shipping_name like #{shippingname}
            </if>
            <if test="shippingCode !=null and shippingCode!=''">
                and shipping_code like #{shippingcode}
            </if>
            <if test="storage!=null and storage.storageCode!=null and storage.storageCode!=''">
                and s.storage_code like #{storagecode}
            </if>
            <if test="storage!=null and storage.storageName!=null and storage.storageName!=''">
                and s.storage_name like #{storagename}
            </if>
            <if test="status!=null">
                and t1.status = #{status}
            </if>
        </where>
        order by shipping_time desc, t1.create_date desc
    </select>

    <select  id="generateShippingCode" parameterType="java.util.Map"
             resultType="java.util.Map" statementType="CALLABLE">
        {CALL generate_shippingCode(#{orderNamePre,mode=IN}, #{shippingCode, mode=OUT, jdbcType=VARCHAR})}
    </select>

    <select id="queryByCode" resultType="pojo.Shipping">
        select shipping_id from shipping where shipping_code =#{shippingCode}
    </select>

    <insert id="add">
        insert into shipping
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="shippingName !=null and shippingName!=''">
                ,shipping_name
            </if>
            <if test="shippingCode!=null and shippingCode!=''">
                ,shipping_code
            </if>
            <if test="storageId!=null">
                ,storage_id
            </if>
            <if test="warehouseId!=null">
                ,warehouse_id
            </if>
            <if test="locationId!=null">
                ,location_id
            </if>
            <if test="goodsTypeId!=null">
                ,goods_type_id
            </if>
            <if test="goodsNameId!=null">
                ,goods_name_id
            </if>
            <if test="shippingNumber!=null">
                ,shipping_number
            </if>
            <if test="transType!=null">
                ,trans_type
            </if>
            <if test="carNo!=null and carNo!=''">
                ,car_no
            </if>
            <if test="shippingTime!=null">
                ,shipping_time
            </if>
            <if test="remark!=null and remark!=''">
                ,remark
            </if>
            <if test="shippingBy!=null">
                ,shipping_by
            </if>
            <if test="createDate!=null">
                ,create_date
            </if>
            ,status
        </trim>

        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="shippingName !=null and shippingName!=''">
                ,#{shippingName}
            </if>
            <if test="shippingCode!=null and shippingCode!=''">
                ,#{shippingCode}
            </if>
            <if test="storageId!=null">
                ,#{storageId}
            </if>
            <if test="warehouseId!=null">
                ,#{warehouseId}
            </if>
            <if test="locationId!=null">
                ,#{locationId}
            </if>
            <if test="goodsTypeId!=null">
                ,#{goodsTypeId}
            </if>
            <if test="goodsNameId!=null">
                ,#{goodsNameId}
            </if>
            <if test="shippingNumber!=null">
                ,#{shippingNumber}
            </if>
            <if test="transType!=null">
                ,#{transType}
            </if>
            <if test="carNo!=null and carNo!=''">
                ,#{carNo}
            </if>
            <if test="shippingTime!=null">
                ,#{shippingTime}
            </if>
            <if test="remark!=null and remark!=''">
                ,#{remark}
            </if>
            <if test="shippingBy!=null">
                ,#{shippingBy}
            </if>
            <if test="createDate!=null">
                ,#{createDate}
            </if>
            ,1
        </trim>
    </insert>

    <update id="update" parameterType="pojo.Shipping">
        update shipping
        <set>
            <if test="shippingName !=null and shippingName!=''">
                shipping_name = #{shippingName},
            </if>
            <if test="storageId!=null">
                storage_id = #{storageId},
            </if>
            <if test="warehouseId!=null">
                warehouse_id= #{warehouseId},
            </if>
            <if test="locationId!=null">
                location_id=#{locationId},
            </if>
            <if test="goodsTypeId!=null">
                goods_type_id = #{goodsTypeId},
            </if>
            <if test="goodsNameId!=null">
                goods_name_id = #{goodsNameId},
            </if>
            <if test="shippingNumber!=null">
                shipping_number = #{shippingNumber},
            </if>
            <if test="transType!=null">
                trans_type = #{transType},
            </if>
            <if test="carNo!=null and carNo!=''">
                car_no = #{carNo},
            </if>
            <if test="shippingTime!=null">
                shipping_time = #{shippingTime},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark},
            </if>
            <if test="shippingBy!=null">
                shipping_by = #{shippingBy},
            </if>
            <if test="createDate!=null">
                create_date = #{createDate},
            </if>
        </set>
        <where>
            shipping_id =#{shippingId}
        </where>
    </update>

    <update id="updateStatus">
        update shipping set status = 2 where shipping_id = #{shippingId}
    </update>

    <delete id="delByShippingId">
        delete from shipping  where shipping_id = #{shippingId}
    </delete>



</mapper>